@font-face {
  font-family: "hk_groteskregular";
  src: url("../fonts/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hk_groteskmedium";
  src: url("../fonts/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hk_groteskbold";
  src: url("../fonts/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #183B56;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button:active, button:hover, button:focus, input:active, input:hover, input:focus, textarea:active, textarea:hover, textarea:focus {
  outline: 0;
  outline-offset: 0;
}

.body-locked {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.button {
  display: block;
  color: #ffffff;
  background-color: #183B56;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 8px;
  min-width: 259px;
  min-height: 55px;
  padding: 12px 18px;
  cursor: pointer;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.navbar {
  background-color: #ffffff;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 61px;
}

.navbar-group {
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 50px 0 auto;
  padding: 0;
}

.navbar-menu__item {
  margin-right: 40px;
}

.navbar-menu__item:last-child {
  margin-right: 0;
}

.navbar-menu__link {
  color: #183B56;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.navbar__button {
  color: #1565D8;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  border: 2px solid #1565D8;
  border-radius: 8px;
  padding: 11px 22px;
}

.navbar__menu-button {
  display: none;
}

.logo__image {
  width: 90px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .container {
    max-width: 955px;
  }
  .navbar-wrapper {
    padding: 25px 0 45px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .container-menu {
    margin-right: 42px;
  }
  .container-menu__item {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 101px;
  }
  .navbar__container {
    max-width: 650px;
    width: 92%;
  }
  .navbar__mobile {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .navbar-group {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 64px;
    max-height: 330px;
    padding: 15px 0 36px;
    background-color: #ffffff;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  .navbar-group::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .navbar-group::-webkit-scrollbar-button {
    background-color: transparent;
  }
  .navbar-group::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .navbar-group::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  .navbar-group::-webkit-scrollbar-thumb {
    height: 0;
    background-color: transparent;
    border-radius: 0;
  }
  .navbar-group::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  .navbar-group::-webkit-resizer {
    background-color: transparent;
  }
  .navbar-group--visible {
    display: flex;
    flex-direction: column;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-bottom: 25px;
  }
  .navbar-menu__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .navbar-menu__item:last-child {
    margin-bottom: 0;
  }
  .navbar__button {
    padding: 9px 30px;
    text-align: center;
  }
  .navbar__menu-button {
    display: block;
  }
  .menu-button {
    background-image: url(../img/menu-button.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 22px;
    height: 18px;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    z-index: 99;
  }
  .menu-button:focus {
    outline: none;
  }
  .menu-button--close {
    background-image: url(../img/menu-button-close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    cursor: pointer;
    z-index: 99;
  }
  .menu-button--close:focus {
    outline: none;
  }
}

@media (max-width: 576px) {
  body {
    padding-top: 87px;
  }
  .navbar-wrapper {
    padding: 18px 0 38px;
  }
  .navbar-group {
    max-height: 325px;
  }
}

@media (max-width: 320px) {
  .navbar__container {
    max-width: 272px;
  }
  .navbar-group {
    max-width: 304px;
    max-height: 322px;
    top: 10px;
    left: 8px;
    right: 8px;
    padding: 36px 24px;
  }
  .navbar-menu {
    align-items: flex-start;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .navbar__button {
    padding: 7px 9px;
    width: 100%;
  }
}

.hero__container {
  background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url("../img/hero-bg.jpg") no-repeat center center;
  background-color: #E8EAE9;
  background-size: cover;
  border-radius: 8px;
  object-fit: cover;
  padding: 62px 20px 46px 107px;
  max-width: 1280px;
  width: 98%;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__tag {
  color: #36B37E;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  min-width: 175px;
  min-height: 32px;
  padding: 6px 16px 6px;
  margin-bottom: 23px;
}

.hero__title {
  color: #183B56;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  margin-top: 0;
  margin-bottom: 35px;
  max-width: 425px;
}

.hero__text {
  color: #5A7184;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 51px;
  max-width: 650px;
}

.hero__button {
  margin-bottom: 46px;
}

.hero__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__pay, .hero__warranty, .hero__quality {
  display: flex;
  align-items: center;
  margin-right: 31px;
}

.hero__pay:last-child, .hero__warranty:last-child, .hero__quality:last-child {
  margin-right: 0;
}

.hero__pay-image, .hero__warranty-image, .hero__quality-image {
  margin-top: 2px;
  margin-right: 6px;
}

.hero__pay-link, .hero__warranty-link, .hero__quality-link {
  font-family: "hk_groteskmedium", sans-serif;
  color: #183B56;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
  margin-bottom: 2px;
}

@media (max-width: 1200px) {
  .hero__container {
    padding: 62px 20px 46px 67px;
  }
  .hero__text {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  .hero__container {
    padding: 62px 20px 46px 47px;
    max-width: 952px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 60px;
  }
  .hero__text {
    font-size: 18px;
    line-height: 32px;
    max-width: 450px;
  }
  .hero__pay, .hero__warranty {
    margin-right: 21px;
  }
}

@media (max-width: 768px) {
  .hero__container {
    background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url("../img/hero-bg.jpg") no-repeat -359px -18px;
    background-color: #E8EAE9;
    padding: 36px 28px 35px 27px;
    max-width: 728px;
  }
  .hero__tag {
    margin-bottom: 19px;
  }
  .hero__title {
    margin-bottom: 25px;
  }
  .hero__text {
    margin-bottom: 36px;
    max-width: 410px;
  }
  .hero__button {
    margin-bottom: 38px;
  }
}

@media (max-width: 576px) {
  .hero__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url("../img/hero-bg.jpg") no-repeat -640px -3px;
    background-color: #DCDBD9;
    padding: 382px 20px 36px 20px;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
  }
  .hero-wrapper {
    align-items: center;
  }
  .hero__tag {
    min-width: 196px;
    min-height: 24px;
    padding: 2px 26px 2px;
    margin-bottom: 17px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 23px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 24px;
  }
  .hero__button {
    font-size: 16px;
    line-height: 22px;
    border: 0;
    max-width: 200px;
    width: 95%;
    min-height: 48px;
    padding: 13px 5px;
    margin-bottom: 21px;
  }
  .hero__features {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero__pay-image, .hero__warranty-image, .hero__quality-image {
    width: 24px;
    height: 24px;
  }
  .hero__pay {
    flex-basis: 55%;
    margin-right: 16px;
  }
  .hero__pay-image {
    margin-top: 1px;
    margin-right: 8px;
  }
  .hero__warranty {
    margin-left: -2px;
    margin-right: 0;
  }
  .hero__warranty-image {
    margin-top: 1px;
    margin-right: 7px;
  }
  .hero__quality {
    margin-top: 14px;
  }
  .hero__quality-image {
    margin-top: 1px;
    margin-right: 7px;
  }
}

@media (max-width: 480px) {
  .hero__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url("../img/hero-bg.jpg") no-repeat -680px -3px;
    background-color: #DCDBD9;
  }
}

@media (max-width: 400px) {
  .hero__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url("../img/hero-bg.jpg") no-repeat -725px -3px;
    background-color: #DCDBD9;
  }
}

@media (max-width: 320px) {
  .hero__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url("../img/hero-bg.jpg") no-repeat -765px -3px;
    background-color: #DCDBD9;
  }
  .hero__title-span {
    margin-left: -8px;
  }
}

@media (min-width: 992px) {
  a:hover {
    text-decoration: underline;
  }
  button:hover {
    background-color: #526C80;
  }
  .navbar__button:hover {
    color: #FF4040;
    text-decoration: none;
  }
  .hero__button:hover {
    color: #FF4040;
    background-color: #E8EAE9;
    text-decoration: none;
    border: 3px solid #183B56;
  }
}
/*# sourceMappingURL=style.css.map */