@font-face {
  font-family: "hk_groteskregular";
  src: url("../fonts/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hk_groteskmedium";
  src: url("../fonts/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hk_groteskbold";
  src: url("../fonts/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #183B56;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a:active, a:hover, a:focus, button:active, button:hover, button:focus, input:active, input:hover, input:focus, textarea:active, textarea:hover, textarea:focus {
  outline: 0;
  outline-offset: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.input {
  color: #183B56;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
}

.input:placeholder {
  color: #959EAD;
  opacity: 1;
}

.input::placeholder {
  color: #959EAD;
  opacity: 1;
}

.message {
  color: #183B56;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  resize: none;
  padding: 18px 23px;
}

.message:placeholder {
  color: #959EAD;
  opacity: 1;
}

.message::placeholder {
  color: #959EAD;
  opacity: 1;
}

.button {
  display: block;
  color: #ffffff;
  background-color: #183B56;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 8px;
  min-width: 259px;
  min-height: 55px;
  padding: 12px 18px;
  cursor: pointer;
}

.invalid {
  color: #00FF00;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.input.invalid {
  color: #EC1F46;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.navbar {
  background-color: #ffffff;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 61px;
}

.navbar-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 234, 233, 0.39);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.navbar-overlay--visible {
  visibility: visible;
  opacity: 1;
}

.navbar-group {
  display: flex;
  align-items: center;
}

.navbar-group__mod {
  margin-top: -1px;
  margin-bottom: 1px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 50px 0 auto;
  padding: 0;
}

.navbar-menu__item {
  margin-right: 40px;
}

.navbar-menu__item:first-child {
  margin-right: 43px;
}

.navbar-menu__item:last-child {
  margin-right: 0;
}

.navbar-menu__link {
  color: #183B56;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.navbar__button {
  color: #1565D8;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  border: 2px solid #1565D8;
  border-radius: 8px;
  padding: 11px 22px;
}

.navbar__menu-button {
  display: none;
}

.logo__image {
  width: 90px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .navbar__container {
    max-width: 955px;
  }
  .navbar-wrapper {
    padding: 25px 0 45px;
  }
  .navbar-group__mod {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .navbar__container {
    max-width: 700px;
  }
  .navbar-menu {
    margin-right: 42px;
  }
  .navbar-menu__item {
    margin-right: 20px;
  }
  .navbar-menu__item:first-child {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 101px;
  }
  .navbar__container {
    max-width: 650px;
    width: 92%;
  }
  .navbar__mobile {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 101;
  }
  .navbar-group {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 64px;
    max-height: 330px;
    padding: 15px 0 36px;
    background-color: #ffffff;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  .navbar-group::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .navbar-group::-webkit-scrollbar-button {
    background-color: transparent;
  }
  .navbar-group::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .navbar-group::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  .navbar-group::-webkit-scrollbar-thumb {
    height: 0;
    background-color: transparent;
    border-radius: 0;
  }
  .navbar-group::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  .navbar-group::-webkit-resizer {
    background-color: transparent;
  }
  .navbar-group--visible {
    display: flex;
    flex-direction: column;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-bottom: 25px;
  }
  .navbar-menu__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .navbar-menu__item:first-child {
    margin-right: 0;
  }
  .navbar-menu__item:last-child {
    margin-bottom: 0;
  }
  .navbar__button {
    padding: 9px 30px;
    text-align: center;
  }
  .navbar__menu-button {
    display: block;
    margin-right: 2px;
    margin-bottom: 3px;
  }
  .menu-button {
    background-image: url(../img/menu-button.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 22px;
    height: 18px;
    cursor: pointer;
    z-index: 110;
  }
  .menu-button:focus {
    outline: none;
  }
  .menu-button--close {
    background-image: url(../img/menu-button-close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    cursor: pointer;
    z-index: 110;
  }
  .menu-button--close:focus {
    outline: none;
  }
}

@media (max-width: 576px) {
  body {
    padding-top: 87px;
  }
  .navbar-wrapper {
    padding: 18px 0 39px;
  }
  .navbar-group {
    max-height: 325px;
  }
}

@media (max-width: 320px) {
  .navbar__container {
    max-width: 272px;
  }
  .navbar-group {
    max-width: 304px;
    max-height: 322px;
    top: 10px;
    left: 8px;
    right: 8px;
    padding: 36px 24px;
  }
  .navbar-menu {
    align-items: flex-start;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .navbar__button {
    padding: 7px 9px;
    width: 100%;
  }
  .navbar__menu-button {
    margin-right: 1px;
  }
  .menu-button--close {
    margin-right: 4px;
    margin-bottom: 0;
  }
}

.hero__container {
  background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url("../img/hero-bg.jpg") no-repeat center center;
  background-color: #E8EAE9;
  background-size: cover;
  border-radius: 8px;
  object-fit: cover;
  padding: 62px 20px 45px 107px;
  max-width: 1280px;
  width: 98%;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__tag {
  color: #36B37E;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  min-width: 175px;
  min-height: 32px;
  padding: 6px 16px 6px;
  margin-bottom: 22px;
}

.hero__title {
  color: #183B56;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  margin-top: 0;
  margin-bottom: 35px;
  max-width: 425px;
}

.hero__text {
  color: #5A7184;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 51px;
  max-width: 650px;
}

.hero__button {
  margin-bottom: 46px;
}

.hero__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__pay, .hero__warranty, .hero__quality {
  display: flex;
  align-items: center;
  margin-right: 31px;
}

.hero__pay:last-child, .hero__warranty:last-child, .hero__quality:last-child {
  margin-right: 0;
}

.hero__pay-image, .hero__warranty-image, .hero__quality-image {
  margin-top: 2px;
  margin-right: 6px;
}

.hero__pay-link, .hero__warranty-link, .hero__quality-link {
  font-family: "hk_groteskmedium", sans-serif;
  color: #183B56;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
  margin-bottom: 2px;
}

@media (max-width: 1200px) {
  .hero__container {
    padding: 62px 20px 46px 67px;
  }
  .hero__text {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  .hero__container {
    padding: 62px 20px 46px 47px;
    max-width: 952px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 60px;
  }
  .hero__text {
    font-size: 18px;
    line-height: 32px;
    max-width: 450px;
  }
  .hero__pay, .hero__warranty {
    margin-right: 21px;
  }
}

@media (max-width: 768px) {
  .hero__container {
    background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%), url("../img/hero-bg.jpg") no-repeat -359px -18px;
    background-color: #E8EAE9;
    padding: 36px 28px 35px 27px;
    max-width: 728px;
  }
  .hero__tag {
    margin-bottom: 19px;
  }
  .hero__title {
    margin-bottom: 25px;
  }
  .hero__text {
    margin-bottom: 36px;
    max-width: 410px;
  }
  .hero__button {
    margin-bottom: 38px;
  }
}

@media (max-width: 576px) {
  .hero__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url("../img/hero-bg.jpg") no-repeat -640px -3px;
    background-color: #DCDBD9;
    padding: 382px 20px 36px 20px;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
  }
  .hero-wrapper {
    align-items: center;
  }
  .hero__tag {
    min-width: 196px;
    min-height: 24px;
    padding: 2px 26px 2px;
    margin-bottom: 17px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 23px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 24px;
  }
  .hero__button {
    font-size: 16px;
    line-height: 22px;
    border: 0;
    max-width: 200px;
    width: 95%;
    min-height: 48px;
    padding: 13px 5px;
    margin-bottom: 20px;
  }
  .hero__features {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1px;
  }
  .hero__pay-image, .hero__warranty-image, .hero__quality-image {
    width: 24px;
    height: 24px;
  }
  .hero__pay {
    flex-basis: 55%;
    margin-left: -1px;
    margin-right: 17px;
  }
  .hero__pay-image {
    margin-right: 8px;
    margin-top: 2px;
  }
  .hero__warranty {
    margin-left: -2px;
    margin-right: 0;
  }
  .hero__warranty-image {
    margin-left: -1px;
    margin-right: 7px;
    margin-top: 1px;
  }
  .hero__quality {
    margin-top: 14px;
  }
  .hero__quality-image {
    margin-left: -1px;
    margin-right: 7px;
    margin-top: 2px;
  }
  .button {
    min-width: 257px;
  }
}

@media (max-width: 480px) {
  .hero__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url("../img/hero-bg.jpg") no-repeat -680px -3px;
    background-color: #DCDBD9;
  }
}

@media (max-width: 400px) {
  .hero__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url("../img/hero-bg.jpg") no-repeat -725px -3px;
    background-color: #DCDBD9;
  }
}

@media (max-width: 320px) {
  .hero__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%), url("../img/hero-bg.jpg") no-repeat -765px -3px;
    background-color: #DCDBD9;
  }
  .hero__title-span {
    margin-left: -9px;
  }
}

.collection__container {
  padding: 120px 0 140px;
}

.collection-wrapper {
  display: flex;
  justify-content: flex-start;
}

.collection__primary {
  position: relative;
  margin-right: 30px;
  width: 320px;
  height: 490px;
  border-radius: 8px;
  overflow: hidden;
}

.collection__primary-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection__secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 57px;
}

.collection__secondary-frame {
  position: relative;
  width: 320px;
  height: 230px;
  border-radius: 8px;
  overflow: hidden;
}

.collection__secondary-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection__content {
  display: flex;
  flex-direction: column;
  max-width: 370px;
}

.collection__title {
  color: #183B56;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.collection__text {
  color: #5A7184;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 40px;
}

.collection__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1565D8;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  max-width: 259px;
}

@media (max-width: 1200px) {
  .collection__container {
    padding: 120px 0 105px;
  }
  .collection-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .collection__primary {
    width: calc(320px + 20%);
  }
  .collection__primary-image {
    height: 125%;
  }
  .collection__secondary {
    margin-right: 0;
  }
  .collection__content {
    flex-basis: 100%;
    padding: 0 49px 0;
    margin-top: 55px;
    max-width: 100%;
  }
  .collection__title {
    margin-top: 0;
  }
}

@media (max-width: 1150px) {
  .collection__content {
    padding: 0 74px 0;
  }
}

@media (max-width: 1125px) {
  .collection__content {
    padding: 0 79px 0;
  }
}

@media (max-width: 992px) {
  .collection__container {
    padding: 100px 0 88px;
  }
  .collection__primary {
    width: calc(320px + 14%);
  }
  .collection__primary-image {
    height: 110%;
  }
  .collection__content {
    padding: 0 67px 0;
    margin-top: 45px;
  }
  .collection__text {
    margin-bottom: 32px;
  }
}

@media (max-width: 950px) {
  .collection__content {
    padding: 0 56px 0;
  }
}

@media (max-width: 900px) {
  .collection__primary {
    width: 320px;
  }
  .collection__primary-image {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .collection__container {
    padding: 80px 0 74px;
  }
  .collection__primary {
    margin-left: -2px;
    width: 322px;
  }
  .collection__secondary-frame--bottom {
    height: 230px;
  }
  .collection__content {
    padding: 0 47px 0;
    margin-top: 35px;
  }
  .collection__text {
    margin-bottom: 23px;
  }
  .collection__link {
    max-width: 260px;
  }
}

@media (max-width: 767px) {
  .collection__primary {
    margin-right: 15px;
    width: calc(285px + 14%);
    height: 356px;
  }
  .collection__primary-image {
    height: 125%;
  }
  .collection__secondary-frame {
    width: 175px;
    height: 170px;
  }
  .collection__title {
    font-size: 40px;
    line-height: 50px;
  }
  .collection__text {
    font-size: 17px;
    line-height: 33px;
  }
  .collection__link {
    font-size: 16px;
    line-height: 22px;
    max-width: 237px;
  }
}

@media (max-width: 750px) {
  .collection__content {
    padding: 0 38px 0;
  }
}

@media (max-width: 700px) {
  .collection__content {
    padding: 0 34px 0;
  }
}

@media (max-width: 650px) {
  .collection__primary {
    width: calc(285px + 5%);
  }
  .collection__primary-image {
    height: 105%;
  }
}

@media (max-width: 600px) {
  .collection__primary {
    width: 285px;
  }
  .collection__primary-image {
    height: 100%;
  }
}

@media (max-width: 576px) {
  .collection__container {
    padding: 64px 0 73px;
  }
  .collection-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .collection__primary {
    margin-right: -1px;
    margin-bottom: 14px;
    border-radius: 3.36px;
    width: 290px;
    height: 300px;
  }
  .collection__primary-image {
    height: 340px;
  }
  .collection__secondary {
    flex-direction: row;
    width: 290px;
  }
  .collection__secondary-frame {
    border-radius: 3.36px;
    width: 138px;
    height: 97px;
  }
  .collection__content {
    padding: 0 0 0;
    align-items: center;
    text-align: center;
    margin-top: 33px;
  }
  .collection__title {
    font-size: 28px;
    line-height: 36px;
    padding: 0 22px 0;
    margin-bottom: 23px;
  }
  .collection__text {
    font-size: 16px;
    line-height: 28px;
    max-width: 280px;
  }
  .collection__link {
    font-size: 15px;
    line-height: 20px;
    width: 220px;
  }
}

@media (max-width: 320px) {
  .collection__container {
    padding: 64px 15px 107px;
  }
  .collection__text {
    margin-bottom: 0;
  }
  .collection__text-mod {
    margin-left: -4px;
  }
  .collection__link {
    display: none;
  }
}

.trends__container {
  padding: 0 0 106px;
  max-width: 1135px;
}

.trends-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px;
}

.trends__title {
  color: #183B56;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  margin-top: 0;
  margin-bottom: 0;
}

.trends-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 10px -11px 0 auto;
  padding: 0;
}

.trends-menu__item {
  color: #5A7184;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.trends-menu__item--new {
  margin-right: 34px;
  width: 90px;
}

.trends-menu__item--best {
  margin-right: 27px;
  width: 80px;
}

.trends-menu__item--soon {
  margin-right: 0;
  width: 65px;
}

.trends-menu__item--active {
  color: #183B56;
  font-weight: 700;
}

.trends-content {
  display: none;
}

.trends-content--active {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 5px;
}

.trends__card {
  margin-right: 30px;
  margin-bottom: 49px;
}

.trends__card--new-04, .trends__card--best-04, .trends__card--soon-04 {
  margin-right: 0;
}

.trends__card-next {
  margin-bottom: 49px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__frame {
  position: relative;
  width: 260px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 18px;
}

.card__image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  color: #183B56;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin: 0 0 6px 10px;
}

.card__purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  max-width: 240px;
}

.card__price {
  color: #5A7184;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.card__icon {
  margin-top: 3px;
}

.card-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1565D8;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px 19px;
  width: 260px;
  height: 350px;
}

.card-next__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: center;
  text-decoration: none;
  width: 260px;
  height: 350px;
}

.card-next__plus {
  margin-top: 18px;
  margin-bottom: 26px;
}

.card-next__more {
  margin-left: 1px;
}

.spacing {
  letter-spacing: 0;
}

@media (max-width: 1200px) {
  .trends__container {
    padding: 0 0 75px;
  }
  .trends-header {
    padding: 0 49px 0;
  }
  .trends-content--active {
    padding-left: 0;
    margin-left: calc((100% - ((260px * 4) + (16px * 3))) / 2);
  }
  .trends__card {
    margin-right: 16px;
  }
  .trends__card--new-04, .trends__card--best-04, .trends__card--soon-04 {
    margin-right: 0;
  }
}

@media (max-width: 1150px) {
  .trends-header {
    padding: 0 74px 0;
  }
}

@media (max-width: 1125px) {
  .trends-header {
    padding: 0 79px 0;
  }
  .trends-content--active {
    margin-left: calc((100% - ((300px * 3) + (25px * 2))) / 2);
  }
  .trends__card {
    margin-right: 25px;
  }
  .trends__card--new-03, .trends__card--best-03, .trends__card--soon-03 {
    margin-right: 0;
  }
  .trends__card--new-06, .trends__card--best-06, .trends__card--soon-06 {
    margin-right: 0;
  }
  .card__frame {
    width: 300px;
    height: 404px;
  }
  .card__purchase {
    max-width: 280px;
  }
  .card-next {
    padding: 15px 39px;
    width: 300px;
    height: 404px;
  }
  .card-next__link {
    height: 404px;
  }
}

@media (max-width: 992px) {
  .trends__container {
    padding: 0 0 45px;
  }
  .trends-header {
    padding: 0 67px 0;
  }
  .trends-content--active {
    margin-left: calc((100% - ((260px * 3) + (20px * 2))) / 2);
  }
  .trends__card {
    margin-right: 20px;
  }
  .card__frame {
    width: 260px;
    height: 350px;
  }
  .card__purchase {
    max-width: 240px;
  }
  .card-next {
    padding: 15px 19px;
    width: 260px;
    height: 350px;
  }
  .card-next__link {
    height: 350px;
  }
}

@media (max-width: 950px) {
  .trends-header {
    padding: 0 56px 0;
  }
}

@media (max-width: 880px) {
  .trends-content--active {
    margin-left: calc((100% - ((240px * 3) + (20px * 2))) / 2);
  }
  .card__frame {
    width: 240px;
    height: 350px;
  }
  .card__purchase {
    max-width: 222px;
  }
  .card-next {
    padding: 15px 10px;
    width: 240px;
    height: 350px;
  }
  .card-next__link {
    height: 350px;
  }
}

@media (max-width: 820px) {
  .trends-content--active {
    margin-left: calc((100% - ((311px * 2) + 48px)) / 2);
  }
  .trends__card {
    margin-right: 48px;
  }
  .trends__card--new-02, .trends__card--best-02, .trends__card--soon-02 {
    margin-right: 0;
  }
  .trends__card--new-04, .trends__card--best-04, .trends__card--soon-04 {
    margin-right: 0;
  }
  .trends__card--new-06, .trends__card--best-06, .trends__card--soon-06 {
    margin-right: 0;
  }
  .card__frame {
    width: 311px;
    height: 419px;
  }
  .card__purchase {
    max-width: 292px;
  }
  .card-next {
    padding: 15px 44px;
    width: 311px;
    height: 419px;
  }
  .card-next__link {
    height: 419px;
  }
}

@media (max-width: 768px) {
  .trends__container {
    padding: 0 0 43px;
  }
  .trends-wrapper {
    padding-right: 2px;
  }
  .trends-header {
    flex-direction: column;
    padding: 0 0 0;
    margin-bottom: 56px;
  }
  .trends__title {
    margin-bottom: 32px;
  }
  .trends-menu {
    margin: 0 -11px 0 0;
  }
  .trends-content--active {
    margin-left: calc((100% - ((281px * 2) + 47px)) / 2);
  }
  .trends__card {
    margin-right: 48px;
    margin-bottom: 47px;
  }
  .card__frame {
    width: 280px;
    height: 350px;
  }
  .card__image {
    height: 107%;
  }
  .card__title {
    margin: 0 0 6px 11px;
  }
  .card__purchase {
    max-width: 260px;
  }
  .card__purchase--new-02, .card__purchase--new-04, .card__purchase--new-06 {
    margin-left: 11px;
    max-width: 259px;
  }
  .card__purchase--best-02, .card__purchase--best-04, .card__purchase--best-06 {
    margin-left: 11px;
    max-width: 259px;
  }
  .card__purchase--soon-02, .card__purchase--soon-04 {
    margin-left: 11px;
    max-width: 259px;
  }
  .card-next {
    padding: 15px 29px 15px 29px;
    width: 280px;
    height: 350px;
  }
  .card-next__link {
    height: 350px;
  }
  .card-next__more {
    margin-left: 2px;
  }
}

@media (max-width: 767px) {
  .trends-wrapper {
    padding-right: 0;
  }
  .trends-header {
    margin-bottom: 42px;
  }
  .trends__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 26px;
  }
  .trends-menu__item {
    font-size: 17px;
    line-height: 23px;
  }
  .trends-content--active {
    margin-left: calc((100% - ((280px * 2) + 46px)) / 2);
  }
  .trends__card {
    margin-right: 46px;
  }
  .card__frame {
    width: 280px;
    height: 340px;
  }
  .card__image {
    height: 110%;
  }
  .card__purchase--new-02, .card__purchase--new-04, .card__purchase--new-06 {
    margin-left: 10px;
  }
  .card__purchase--best-02, .card__purchase--best-04, .card__purchase--best-06 {
    margin-left: 10px;
  }
  .card__purchase--soon-02, .card__purchase--soon-04 {
    margin-left: 10px;
  }
  .card-next {
    width: 280px;
    height: 340px;
  }
  .card-next__link {
    height: 340px;
  }
  .card-next__more {
    margin-left: 1px;
  }
}

@media (max-width: 750px) {
  .trends-content--active {
    margin-left: calc((100% - ((280px * 2) + 34px)) / 2);
  }
  .trends__card {
    margin-right: 34px;
  }
}

@media (max-width: 680px) {
  .trends-content--active {
    margin-left: calc((100% - ((250px * 2) + 20px)) / 2);
  }
  .trends__card {
    margin-right: 20px;
  }
  .card__frame {
    width: 250px;
    height: 340px;
  }
  .card__image {
    height: 110%;
  }
  .card__purchase {
    max-width: 231px;
  }
  .card-next {
    padding: 15px 14px;
    width: 250px;
    height: 340px;
  }
  .card-next__link {
    height: 340px;
  }
}

@media (max-width: 576px) {
  .trends__container {
    padding: 0 0 38px;
  }
  .trends-header {
    margin-bottom: 36px;
  }
  .trends__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 27px;
  }
  .trends-menu {
    margin: 0 -9px 0 0;
  }
  .trends-menu__item {
    font-size: 16px;
    line-height: 22px;
  }
  .trends-menu__item--new {
    margin-right: 9px;
    width: 83px;
  }
  .trends-menu__item--best {
    margin-right: 5px;
    width: 73px;
  }
  .trends-menu__item--soon {
    margin-right: 0;
    width: 58px;
  }
  .trends-content--active {
    margin-left: calc((100% - ((140px * 2) + 10px)) / 2);
  }
  .trends__card {
    margin-right: 10px;
    margin-bottom: 24px;
  }
  .trends__card-next {
    margin-bottom: 24px;
  }
  .card__frame {
    margin-bottom: 13px;
    width: 140px;
    height: 170px;
  }
  .card__image {
    height: 110%;
  }
  .card__title {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 3px 0;
  }
  .card__purchase {
    margin-left: 0;
    max-width: 59px;
  }
  .card__price {
    font-size: 14px;
    line-height: 24px;
  }
  .card__icon {
    margin-top: 4px;
    width: 14px;
  }
  .card-next {
    padding: 15px 14px;
    width: 140px;
    height: 170px;
  }
  .card-next__link {
    height: 170px;
  }
  .card-next__plus {
    margin-top: 19px;
    margin-bottom: 16px;
    width: 25px;
  }
  .card-next__more {
    color: #FAFAFB;
    font-size: 17px;
    line-height: 20px;
    margin-left: 0;
  }
}

@media (max-width: 320px) {
  .card__title--new-03, .card__title--new-04, .card__title--new-05, .card__title--new-06, .card__title--new-07 {
    margin: 0 0 3px 0;
  }
  .card__title--best-03, .card__title--best-04, .card__title--best-05, .card__title--best-06 {
    margin: 0 0 3px 0;
  }
  .card__title--soon-03, .card__title--soon-04, .card__title--soon-05 {
    margin: 0 0 3px 0;
  }
}

.reviews__container {
  padding: 0 0 80px;
  max-width: 100%;
}

.reviews-title {
  display: none;
  color: #183B56;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.reviews-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1px;
  max-width: 800px;
}

.reviews-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-slider__quote {
  margin-bottom: 33px;
}

.reviews-slider__text {
  color: #183B56;
  font-family: "hk_groteskregular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.133333px;
  margin-top: 0;
  margin-bottom: 28px;
}

.reviews-slider__hero {
  color: #183B56;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-top: 0;
  margin-bottom: 0;
}

.reviews-slider__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 41px;
}

.reviews-slider__bullet {
  background-image: url(../img/slides/reviews-bullet.svg);
  width: 5px;
  height: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  padding: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.reviews-slider__bullet:last-child {
  margin-right: 0;
}

.reviews-slider__bullet--active {
  background-image: url(../img/slides/reviews-bullet-active.svg);
}

@media (max-width: 992px) {
  .reviews-slider {
    max-width: 695px;
  }
}

@media (max-width: 768px) {
  .reviews-slider {
    padding-right: 3px;
    max-width: 630px;
  }
  .reviews-slider__quote {
    margin-bottom: 37px;
  }
  .reviews-slider__text-none-02 {
    display: none;
  }
  .reviews-slider__pagination {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .reviews-slider {
    padding-left: 0;
    padding-right: 0;
    max-width: 527px;
  }
}

@media (max-width: 576px) {
  .reviews-slider {
    max-width: 280px;
  }
  .reviews-slider__quote {
    width: 70px;
    height: 62px;
    margin-bottom: 20px;
  }
  .reviews-slider__text {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.12px;
    margin-bottom: 24px;
  }
  .reviews-slider__text-none-01 {
    display: none;
  }
  .reviews-slider__hero {
    margin-left: -5px;
  }
  .reviews-slider__hero-mod-01 {
    display: block;
    margin-left: -5px;
  }
  .reviews-slider__hero-mod-02 {
    display: block;
    margin-left: 6px;
  }
  .reviews-slider__hero-mod-03 {
    display: block;
    margin-left: -4px;
  }
  .reviews-slider__pagination {
    margin-top: 20px;
  }
}

.thankyou__container {
  background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%);
  background-color: #E8EAE9;
  border-radius: 8px;
  padding: 62px 20px 62px 107px;
  max-width: 1280px;
  width: 98%;
}

.thankyou-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.thankyou__tag {
  color: #36B37E;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  min-width: 104px;
  min-height: 32px;
  padding: 6px 10px 6px;
  margin-bottom: 35px;
}

.thankyou__title {
  color: #183B56;
  font-family: "hk_groteskbold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  margin-top: 0;
  margin-bottom: 25px;
}

.thankyou__text {
  color: #5A7184;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 65px;
}

.thankyou__team {
  color: #5A7184;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 65px;
}

.thankyou__button {
  font-size: 17px;
  line-height: 24px;
  min-width: 160px;
  padding: 12px 12px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .thankyou__container {
    padding: 62px 20px 62px 67px;
  }
}

@media (max-width: 992px) {
  .thankyou__container {
    padding: 62px 20px 62px 47px;
    max-width: 952px;
  }
}

@media (max-width: 768px) {
  .thankyou__container {
    padding: 55px 30px 55px 37px;
    max-width: 728px;
  }
  .thankyou__tag {
    margin-bottom: 30px;
  }
  .thankyou__title {
    font-size: 33px;
    line-height: 40px;
  }
  .thankyou__text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 57px;
  }
  .thankyou__team {
    font-size: 16px;
    margin-bottom: 57px;
  }
}

@media (max-width: 576px) {
  .thankyou__container {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 47.32%, #E8EAE9 65.51%);
    background-color: #DCDBD9;
    padding: 45px 25px 50px 25px;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
  }
  .thankyou-wrapper {
    align-items: center;
  }
  .thankyou__tag {
    min-width: 104px;
    min-height: 24px;
    padding: 2px 10px 2px;
    margin-bottom: 26px;
  }
  .thankyou__title {
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 23px;
  }
  .thankyou__text {
    font-size: 16px;
    line-height: 25x;
    text-align: center;
    margin-bottom: 40px;
  }
  .thankyou__team {
    font-size: 16px;
    line-height: 25x;
    text-align: center;
    margin-bottom: 40px;
  }
  .thankyou__button {
    font-size: 16px;
    line-height: 22px;
    border: 0;
    max-width: 180px;
    width: 95%;
    min-height: 48px;
    padding: 13px 5px;
  }
}

@media (max-width: 480px) {
  .thankyou__container {
    padding: 45px 16px 50px 16px;
  }
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(201, 201, 201, 0.39);
  z-index: 109;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 478px;
  max-height: 100%;
  padding: 33px 72px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: #566C7E;
  border-radius: 8px;
  z-index: 110;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: fixed;
  top: 17px;
  right: 18px;
  z-index: 110;
  text-decoration: none;
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-top: 0;
  margin-bottom: 15px;
}

.modal__form {
  max-width: 100%;
}

.modal__input {
  width: 100%;
  margin-top: 15px;
}

.modal__input:first-child {
  margin-top: 0;
}

.modal__message {
  width: 100%;
  min-height: 123px;
  margin-top: 15px;
}

.modal__button {
  font-size: 14px;
  line-height: 21px;
  background-color: #16364E;
  min-width: 160px;
  min-height: 50px;
  margin-top: 15px;
}

.modal__info {
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: 992px) {
  .modal__dialog {
    min-width: 64%;
  }
}

@media (max-width: 768px) {
  .modal__dialog {
    min-width: 96%;
    padding: 33px 68px;
  }
}

@media (max-width: 576px) {
  .modal__dialog {
    min-width: 100%;
    padding: 33px 23px;
  }
  .modal__message {
    margin-bottom: 14px;
  }
  .modal__button {
    order: 1;
    margin-top: 0;
  }
  .modal__info {
    flex-basis: 100%;
    margin-bottom: 14px;
  }
}

@media (max-width: 320px) {
  .modal__dialog {
    padding: 33px 13px;
  }
}

@media (orientation: landscape) and (max-height: 532px) {
  .modal__dialog {
    height: 100%;
    padding-bottom: 23px;
  }
  .modal__scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  .modal__scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .modal__scroll::-webkit-scrollbar-button {
    background-color: transparent;
  }
  .modal__scroll::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .modal__scroll::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  .modal__scroll::-webkit-scrollbar-thumb {
    height: 0;
    background-color: transparent;
    border-radius: 0;
  }
  .modal__scroll::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  .modal__scroll::-webkit-resizer {
    background-color: transparent;
  }
  .modal__title {
    margin-top: auto;
  }
  .modal__form {
    margin-bottom: auto;
  }
}

@media (min-width: 992px) {
  a:hover {
    text-decoration: underline;
  }
  button:hover {
    background-color: #526C80;
  }
  .navbar__button:hover {
    color: #FF4040;
    text-decoration: none;
  }
  .hero__button:hover {
    color: #FF4040;
    background-color: #E8EAE9;
    text-decoration: none;
    border: 3px solid #183B56;
  }
  .thankyou__button:hover {
    color: #FF4040;
    background-color: #E8EAE9;
    text-decoration: none;
    border: 3px solid #183B56;
  }
  .modal__button:hover {
    color: #ffffff;
    background-color: #1D4767;
    text-decoration: none;
    border: 3px solid #122D41;
  }
  .trends-menu__item:hover {
    text-decoration: underline;
  }
  .card-next__link:hover {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=style.css.map */