@media (min-width: 992px)
  a
    &:hover
      text-decoration: underline
  button
    &:hover
      background-color: #526C80
  .navbar
    &__button
      &:hover
        color: #FF4040
        text-decoration: none
