// Hover-эффекты — до ширины экрана в 992px
@media (min-width: 992px)
  a
    &:hover
      text-decoration: underline
  button
    &:hover
      background-color: #526C80
  .navbar
    &__button
      &:hover
        color: #FF4040
        text-decoration: none
  .hero
    &__button
      &:hover
        color: #FF4040
        background-color: #E8EAE9
        text-decoration: none
        border: 3px solid $primary
  .thankyou
    &__button
      &:hover
        color: #FF4040
        background-color: #E8EAE9
        text-decoration: none
        border: 3px solid $primary
  .modal
    &__button
      &:hover
        color: $light
        background-color: #1D4767
        text-decoration: none
        border: 3px solid #122D41
  .trends
    &-menu
      &__item
        &:hover
          text-decoration: underline
  .card
    &-next
      &__link
        &:hover
          text-decoration: underline
  .stories
    &__button
      &:hover
        background-color: transparent
      &--prev
        &:hover
          background-image: url(../img/slides/stories-button-prev-hover.svg)
          background-repeat: no-repeat
          background-position: center center
          background-size: cover
          transition: all .5s ease
      &--next
        &:hover
          background-image: url(../img/slides/stories-button-next-hover.svg)
          background-repeat: no-repeat
          background-position: center center
          background-size: cover
          transition: all .5s ease
  .subscribe
    &__button
      &:hover
        color: $light
        background-color: #56758D
        text-decoration: none
        border: 3px solid #122D41
